<mat-nav-list>
  <div>
    <mat-icon>fastfood</mat-icon>
    <span>5 perces receptek</span>
  </div>
  <a mat-list-item routerLink="/gallery" (click)="close()">
  <mat-icon>collections</mat-icon>
  <span>Felfedezés</span>
</a>
  <a mat-list-item routerLink="/main" (click)="close()" *ngIf="(loggedInUser)">
    <mat-icon>home</mat-icon>
    <span>Profil</span>
  </a>
  <a mat-list-item routerLink="/contact" (click)="close()">
  <mat-icon>info</mat-icon>
  <span>Információ</span>
</a>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!(loggedInUser)">
    <mat-icon>login</mat-icon>
    <span>Belépés</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="(loggedInUser)">
    <mat-icon>logout</mat-icon>
    <span>Kilépés</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="close()" *ngIf="!(loggedInUser)">
    <mat-icon>app_registration</mat-icon>
    <span>Regisztráció</span>
  </a>
</mat-nav-list>

<!--<select [(ngModel)]="currentPage" (change)="menuSwitch()">-->
<!--    <option value="login">Login</option>-->
<!--    <option value="signup">Register</option>-->
<!--    <option value="main">Main</option>-->
<!--    <option value="gallery">Gallery</option>-->
<!--    <option value="contact">Contact</option>-->
<!--</select>-->
