<ng-content></ng-content>

<div class="main_component div-flex">
  <mat-card class="div-flex">
    <mat-card-header>
      <mat-card-title>
        Hoppá! Ez az oldal nem található.
        <p>
        </p>
        De <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ez</a> igen!
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <span class="buttons">
                <button mat-raised-button color="warn" (click)="goBack()">Vigyél vissza</button>
      </span>
    </mat-card-content>
  </mat-card>
</div>
