<ng-content></ng-content>

<div class="main_component div-flex">
  <mat-card class="div-flex">
    <mat-card-header>
      <mat-card-title>
        <!-- insert stuff here  -->
        <h3 [ngStyle]="{'background-color':uid.length > 0 ? 'green' : 'red' }">Felhasználó azonosítója: {{uid}}</h3>
        Saját receptjeim


          <span *ngFor='let doc of myArray'>
            <mat-card class="mat-card-small">
              <b>{{doc.title}}</b>
                <br>
                  {{doc.content}}
              <br>
                <br>
                <i>{{doc.type}}</i>
              <br>
              <span><button mat-raised-button color="warn" (click)="deleteItem(doc.title)">Recept törlése</button></span>
            </mat-card>
          </span>

      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
<!--      <p><mat-icon>call</mat-icon> +36 30 123 4567</p>-->
<!--      <p><mat-icon>email</mat-icon> test@gmail.com</p>-->
    </mat-card-content>
  </mat-card>

  <mat-card class="div-flex">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content class="input">
      <h1>Új recept feltöltése</h1>
      <form [formGroup]="this.form">
        <mat-form-field><mat-label for="title">Cím: </mat-label><input matInput type="text" formControlName="title" placeholder="Tőtöttkáposzta"/></mat-form-field>
        <p></p>
        <mat-form-field><mat-label for="content">Tartalom: </mat-label><textarea matInput type="text" formControlName="content" rows="4" cols="50"></textarea></mat-form-field>
        <p></p>
        <select (change)="select($event)">
          <option value="Előétel">Előétel</option>
          <option value="Főétel">Főétel</option>
          <option value="Desszert">Desszert</option>
          <option value="Saláta">Saláta</option>
        </select>

        <br>
<br>
        <p>Amennyiben a felhasználó azonosítója üres, vagy piros háttere van<br>
          válts oldalt és gyere vissza, mert a feltöltés nem lesz sikeres!</p>
        <span>
          <span><button mat-raised-button color="warn" (click)="submit()">Közzététel</button></span>
      </span>
      </form>
    </mat-card-content>
  </mat-card>
</div>
