mat-card {
  width: 80%;
  height: 80%;
  align-self: center;
}

mat-card-header {
  align-self: auto;
  margin-top: 25px; //Mier nem mukodik
}

.div-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: left;
  text-align: left;
  height: 80%;
}


textarea {
  width: 100%;
}

button {
  align-self: center;
}

.input {
  align-self: center;
  width: auto;
}
